@model ProductoEnCarrito  

@{
    ViewData["Title"] = "Agregar Producto";
}

<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <form asp-controller="Carrito" asp-action="AgregarAlCarrito">
        <div class="form-group">
            <label asp-for="Nombre">Nombre:</label>
            <input asp-for="Nombre" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Id">Id:</label>
            <input asp-for="Id" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Precio">Precio:</label>
            <input asp-for="Precio" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Cantidad">Cantidad:</label>
            <input asp-for="Cantidad" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Foto">Foto:</label>
            <input type="file" asp-for="Foto" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Agregar al Carrito</button>
    </form>
    <h1>@ViewData["Message"]</h1>
</div>
