@{
    ViewData["Title"] = "Lo que nos mueve cada dia";
}

<div class="text-center">
  <h1 class="display-5" id="titulo">@ViewData["Title"]</h1>
</div>

<section id="letra">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 nosotros_tarjeta border d-flex align-items-center ">
            <div class="form-group nosotros_parrafo">
                <h3 class="text-center">Nuestra misión</h3>
                <div class="text-center">
                    <h6>
                        Elevar, producir, y proveer calidad de vida, mediante el suministro salubre y accesible, de productos y servicios orgánicos, y de calidad, que empoderen nuestras raíces y patrimonio cultural, no como una opción, «sino como una necesidad de bienestar global.»
                    </h6>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <div class="form-group">
                <img src="https://www.cafealtura.cl/wp-content/uploads/2017/08/mision-cafe.jpg" width="100%" height="100%" style="margin: 0 auto; display: flex; border-radius: 10px;" alt="Misión">
            </div>
        </div>
    </div>
        
    <div class="row">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <div class="form-group">
                <img src="https://www.cafealtura.cl/wp-content/uploads/2017/08/vision-cafe-altura.jpg" width="100%" height="100%" style="margin: 0 auto; display: flex; border-radius: 10px;" alt="Visión">
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 nosotros_tarjeta border d-flex align-items-center ">
            <div class="form-group nosotros_parrafo">
                <h3 class="text-center">Nuestra Visión</h3>
                <div class="text-center">
                    <h6>
                        Nos vemos en el tiempo; una entidad multiactiva de alcance internacional, operando de por lo menos en gran parte de uno a dos continentes «Europa – América» siendo una marca líder en el desarrollo e impulso al consumo masivo del café orgánico, (significante colectivo de empoderamiento sociocultural), y superando la tarea de llegar a ser la firma más influyente y cualificada, en alcanzar los niveles y topes más salubres, accesibles, y comerciales del rubro del café y sus derivados en el mercado mundial.
                    </h6>
                </div>
            </div>
        </div>
    </div>
</section>